<div id="error_title"> <img src="html/images/lg.jpg" width="10" height="16" />&nbsp;&nbsp;操作失败</div>
<table width="300" border="0" cellpadding="5" cellspacing="0">
  <tr>
    <td align="center"><img src="html/images/no.gif" width="172" height="191" /></td>
  </tr>
  <tr>
    <td align="center" class="c_red">[$response_data.err_str]</td>
  </tr>
  <tr>
    <td align="center"><a href="[$response_data.front_url]"><img src="html/images/button_back.gif" width="60" height="22" /></a></td>
  </tr>
</table>