<div class="clear"></div>
<div id="common_footer">
    <span id="footer_copy" class="f_left f_10 c_999">Copyright © 2007 - 2009 TaoMee Inc. All Rights Reserved </span>
    <span id="footer_links" class="f_right">
         <select style="color: rgb(153, 153, 153);" onchange="MM_jumpMenu('parent',this,0)" name="menu1">
             <option value="http://www.taomee.com/">上海淘米网络科技有限公司</option>
             <option value="http://www.51mole.com/">摩尔庄园</option>
             <option value="http://ie.taomee.com/">淘米儿童浏览器</option>
             <option value="http://www.taomee.com/sitemap.html">站点地图</option>
         </select>
    </span>
</div>   