<div id="ok_title"> <img src="html/images/lg.jpg" width="10" height="16" />&nbsp;&nbsp;操作成功 </div>
<table border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="300" align="center"><img src="html/images/ok.gif" width="172" height="191" /></td>
  </tr>
  <tr>
    <td align="center" class="c_orange">[$response_data.ok_str]</td>
  </tr>
  <tr>
    <td align="center"><a href="[$response_data.front_url]"><img src="html/images/button_back.gif" width="60" height="22" /></a></td>
  </tr>
</table>